
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

body {
    background-color: antiquewhite;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

#Logo {
    display: flex;
    align-items: center;
}

#kelompok-navigasi {
    display: flex;
    align-items: center;
    gap: 30px;
}

#Login-Daftar {
    display: flex;
    align-items: center;
    gap: 10px;
}
