
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

body {
    background-color: antiquewhite;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

#Logo {
    display: flex;
    align-items: center;
    font-family: "Anton", sans-serif;
    font-size: 25px;
    color: #ff4f00;
}

#kelompok-navigasi {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Anton", sans-serif;
    text-decoration: none;
}

#Login-Daftar {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btnLoginDaftar{
    background-color: #ff4f00;
    border: none;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-family: "Anton", sans-serif;
}
.menu-utama{
    text-decoration: none;
    font-family: "Anton", sans-serif;
    color: #ff4f00;
    font-size: 20px;
    border: #ff4f00;
    border: solid;
    border: 2px;
    border-radius: 30px;
    row-gap: 50px;

}
.menu-utama:hover{
    background-color: #1c1c1c;
    color: #ffffff;
    width: 140px;
    border-radius: 5px;
    text-align: center;
   
    
}
#navbar{
    background-color: #ffffff;
    border-radius: 2rem;
}

